In [174]:
import pandas as pd
import numpy as np
#pd.set_option('display.max_rows', None)

### Load IPAR Maize data and Edit

In [151]:
df = pd.read_csv('IPAR_yields_with_NDVI-Maize_2014_3.csv')

In [152]:
df.dropna(inplace=True) # drop Nan rows

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 818 entries, 0 to 903
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   KEY                          818 non-null    object
 1   ID_menage                    818 non-null    float64
 2   crops_cult5                  818 non-null    object
 3   season_cult5                 818 non-null    int64
 4   Area_cult5,(ha)              818 non-null    float64
 5   QuantityProduced_cult5,(kg)  818 non-null    float64
 6   Yield                        818 non-null    float64
 7   Department                   818 non-null    object
 8   Counties                     818 non-null    object
 9   Village                      818 non-null    object
 10  gpslat                       818 non-null    float64
 11  gpslon                       818 non-null    float64
 12  ndvi                         818 non-null    object
dtypes: float64(6), int64(1), object(6)
memory usage: 89.5+ KB

In [154]:
type(df['ndvi'][0]) # ndvi data type?

str

In [155]:
# Remove characters from string and convert to list
df['ndvi'] = df['ndvi'].str.strip(',').str.strip('[]').str.split(',')

In [156]:
type(df['ndvi'][0])

list

In [157]:
df.head(3)

,KEY,ID_menage,crops_cult5,season_cult5,"Area_cult5,(ha)","QuantityProduced_cult5,(kg)",Yield,Department,Counties,Village,gpslat,gpslon,ndvi
0,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,"[0.2735391, 0.26804203, 0.2619583, 0.26003906,..."
1,uuid:000be421-3444-486e-8d1c-23514be2cbde,2.540000e+36,Maize,1,0.5,200.0,0.4,BIGNONA,OUONCK,"GHAMOUNE,BOULANDOR",12.749203,-16.049720,"[0.41235876, 0.40807861, 0.39317733, 0.3836832..."
3,uuid:0139318c-52a7-4b72-9c73-374168f46200,1.390000e+38,Maize,1,1.0,1000.0,1.0,SEDHIOU,DIENDE,"DIATOUMA,MANDINGUE",12.788813,-15.584448,"[0.41925213, 0.39685708, 0.37705964, 0.3617137..."

#### Decompose ndvi list into individual values, and place in individual rows

In [15]:
df.columns

Index(['KEY', 'ID_menage', 'crops_cult5', 'season_cult5', 'Area_cult5 (ha)',
       'QuantityProduced_cult5 (kg)', 'Yield', 'Department', 'Counties',
       'Village', 'gpslat', 'gpslon', 'ndvi'],
      dtype='object')

In [158]:
res = df.set_index(['KEY', 'ID_menage', 'crops_cult5', 'season_cult5', 'Area_cult5,(ha)',
       'QuantityProduced_cult5,(kg)', 'Yield', 'Department', 'Counties',
       'Village', 'gpslat', 'gpslon'])['ndvi'].apply(pd.Series).stack()
res = res.reset_index()
res.columns = ['KEY', 'ID_menage', 'crops_cult5', 'season_cult5', 'Area_cult5,(ha)',
       'QuantityProduced_cult5,(kg)', 'Yield', 'Department', 'Counties',
       'Village', 'gpslat', 'gpslon', 'ndvi_num','ndvis']
res

,KEY,ID_menage,crops_cult5,season_cult5,"Area_cult5,(ha)","QuantityProduced_cult5,(kg)",Yield,Department,Counties,Village,gpslat,gpslon,ndvi_num,ndvis
0,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.80,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,0,0.2735391
1,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.80,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,1,0.26804203
2,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.80,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,2,0.2619583
3,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.80,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,3,0.26003906
4,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.80,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,4,0.24942319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32951,uuid:fed9b2cc-8de6-48c3-a41d-0cca51332e4f,6.550000e+39,Maize,1,1.0,950.0,0.95,SEDHIOU,KOUSSY,"H1,SAYANG",12.985208,-15.615778,34,0.57012427
32952,uuid:fed9b2cc-8de6-48c3-a41d-0cca51332e4f,6.550000e+39,Maize,1,1.0,950.0,0.95,SEDHIOU,KOUSSY,"H1,SAYANG",12.985208,-15.615778,35,0.52639139\n0.43080595
32953,uuid:fed9b2cc-8de6-48c3-a41d-0cca51332e4f,6.550000e+39,Maize,1,1.0,950.0,0.95,SEDHIOU,KOUSSY,"H1,SAYANG",12.985208,-15.615778,36,0.43101281
32954,uuid:fed9b2cc-8de6-48c3-a41d-0cca51332e4f,6.550000e+39,Maize,1,1.0,950.0,0.95,SEDHIOU,KOUSSY,"H1,SAYANG",12.985208,-15.615778,37,0.3993209
32955,uuid:fed9b2cc-8de6-48c3-a41d-0cca51332e4f,6.550000e+39,Maize,1,1.0,950.0,0.95,SEDHIOU,KOUSSY,"H1,SAYANG",12.985208,-15.615778,38,0.40163779

In [175]:
# remove rows with 'problem' formats

for i in range(1, len(res['ndvi_num'])):
    get_index = res[ res['ndvi_num'] == i*5 ].index
    res.drop(get_index, inplace = True)
res.head(16)

,KEY,ID_menage,crops_cult5,season_cult5,"Area_cult5,(ha)","QuantityProduced_cult5,(kg)",Yield,Department,Counties,Village,gpslat,gpslon,ndvi_num,ndvis
0,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,0,0.2735391
1,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,1,0.26804203
2,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,2,0.2619583
3,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,3,0.26003906
4,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,4,0.24942319
6,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,6,0.22373192
7,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,7,0.22982967
8,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,8,0.2208643
9,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,9,0.21876949
11,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,11,0.22041616
12,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,12,0.21951976
13,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,13,0.22614272
14,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,14,0.2153063
16,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,16,0.19107343
17,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,17,0.18389976
18,uuid:0003a9b4-9afb-4ff0-8efa-0fabbdb83ccb,3.190000e+36,Maize,1,0.5,400.0,0.8,KAOLACK,THIARE,"MAKA,FASS",13.988077,-15.839605,18,0.13990925

#### output file for merge with weather data

In [178]:
res.to_csv('ipar_with_ndvi_maize_subset.csv', index=False)

In [129]:
df.shape

(818, 13)